* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


nav {
    /* border: blue 2px solid ; */
    display: flex;
    justify-content: space-around;
    padding: 5px;
    position: fixed;
    width: 100%;
    background-color: white;
}


.st-paul-logo {}

.st-paul-logo img {
    width: 200px;
}

/* .st-nav {
    padding: 6px;
    color: black;
    justify-content: flex-start;
 
} */

.hlb ul {
    /* border: green solid 2px; */
    display: flex;
    gap: 50px;
    list-style-type: none;
    position: inline;
    padding-left: 300px;
    padding-top: 10px;
}

.btn-1 button {
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
}

.btn1:hover {
    padding: 17px 25px;
    transition: 2s;
}

@media screen and (max-width:991px) {

    nav {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        padding-left: 15px;
    }

    .hlb ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        padding-left: 0px;
    }

}

.cathdral {
    background-image: url(./img/background34.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    /* height: 100%; */
}

.cath-writeup {

    color: white;
    text-align: center;
    padding-top: 270px;
    font-size: 50px;
}


.btn-2 {

    font-weight: 300;
    padding: 15px 40px;
    background-color: rgb(218, 5, 5);
    color: white;
    border-radius: 5px;
    border: 0px;
    margin: 30px;
}

.btn-2:hover {
    color: white;
    background-color: rgb(87, 3, 3);
}


@media screen and (max-width:430px) {

    .cathdral {
        display: flex;
        
    }

    .cath-writeup{
        /* min-height: 100vh; */
       
        border: 2px solid red;
    }

    /* .to-church h3{
        border: 2px solid red;
    } */

}



.faith {
    text-align: center;
    font-weight: bolder;
    padding: 15px;
    margin: 30px;
    color: rgba(0, 0, 0, 0.692);

}

.statement {

    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;

}

.statement-writeup {
    padding: 2px;
}



@media screen and (max-width:991px) {

    .statement {
        display: flex;
        flex-direction: column;
    }



}

@media screen and (max-width:430px) {

    .statement-writeup {
        margin: 15px;

    }

}


.time {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-top: 30px;
    background-color: rgb(233, 69, 69);
    width: 100%;
}

.time-writeup {
    display: flex;
    color: white;
    /* justify-content: space-around; */

}

.time-writeup-2 {

    padding-left: 150px;

}

.btn-3 {

    padding: 15px 30px;
    border-radius: 5px;
    border: 0px;
    border: 2px white solid;
    color: white;
    background-color: rgb(233, 69, 69);

}

.btn-3:hover {
    color: rgb(233, 69, 69);
    background-color: white;
}

@media screen and (max-width:991px) {

    .time {
        display: flex;
    }

    .time-writeup {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .time-writeup-2 {
        padding-left: 0px;
        padding-top: 5px;
    }

}

@media screen and (max-width:430px) {

    .time {
        display: flex;
        flex-direction: column;

    }

    .time-writeup-1 {
        padding: 5px;
    }

    .time-writeup-2 {

        padding: 5px;

    }

    .btn-3 {
        padding-top: 10px;
        margin: 5px;
    }

}


.wel-church {
    background-color: #eee;
    display: flex;
    gap: 0px;
    /* text-align: center; */
    padding-left: 200px;
    padding: 5rem;

}

.welcome {
    background-color: white;
    margin: 60px;
    padding: 50px;
    padding-right: 60px;
    /* padding-bottom: 10px; */
    font-weight: 400;

}


.days {
    background-color: rgb(233, 69, 69);
    color: white;
    padding: 35px;
    min-width: 40%;
    margin: 30px;
    /* padding-left: 0px; */
    font-size: 40px;
}

.days-1>div {
    padding: 10px;
}

.days-1 {
    display: inline-flex;
    padding: 2rem;
}

.day-1233 {
    border-right: 2px white solid;
}

.hours {
    border-right: white 2px solid;
}

.seconds {
    padding-left: 30px;
    padding-top: 0px;
    margin-top: -20px;
}


@media screen and (max-width:991px) {

    .wel-church {
        display: flex;
        flex-direction: column;
        font-size: larger;
        justify-content: center;
        /* min-width: 100%; */
    }


    .welcome {

        flex-direction: column;
        margin-bottom: 0px;
        margin-right: 150px;
        margin-left: 10px;
        font-size: 100%;
    }

    .days {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-right: 150px;
        margin-left: 10px;
    }

    .seconds {

        display: flex;
        flex-direction: column;

    }

}

@media screen and (max-width:430px) {

    .wel-church {
        display: flex;
        flex-direction: column;
        font-size: medium;
        justify-content: center;
        /* min-width: 100%; */
    }

    .welcome {

        flex-direction: column;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 5px;
        font-size: 100%;
    }

    .days {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        max-width: 100%;
        font-size: small;
        box-sizing: border-box;
    }

    .seconds {

        display: flex;
        flex-direction: column;
        font-size: small;
        margin-top: 50px;
        margin-right: 850px;
    }


}


.Our {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-left: 5px;
    font-family: sans-serif;
    /* border: red 2px solid; */
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.event {
    display: flex;
    justify-content: center;
    
  
   
    margin: 5px;
}

.morning-gather {
    padding: 5px;

}

.event-pic img {
    width: 350px;
}

i {
    color: red;
}

.morning-writeup {
    /* padding-left: 5px; */
    padding: 5px;
/* display: flex;
justify-content: center; */

}

b {
    font-size: larger;
}

.as-is {
    font-size: 19px;

    padding: 5px;
    border: red 2px soild;
}

@media screen and (max-width:991px) {
.as-is{
    font-size: 20px;
     max-width: 300;
}
   
}

@media screen and (max-width:991px) {

    .event {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        /* border: red 5px  solid; */
    }
    

    .Our {
        /* padding-right: 400px; */
        font-size: large;

    }

    .morning-gather {
        display: block;
        justify-content: center;

    }

   

    /* .sec-1{
   padding-left: 150px;
    } */


}


.lates-sharing {
    text-align: center;
    padding: 30px;
    margin: 40px;
}

.lates {
    display: flex;
    justify-content: space-evenly;
    padding-left: 35px;
    font-size: 18px;
}

.serv img {
    width: 350px;
}

/* .special-b b :hover {
    color: rgb(233, 69, 69);
} */

.special-b:hover {
    color: rgb(233, 69, 69);
}

@media screen and (max-width:991px) {
    .lates-sharing {
        text-align: center;
        padding: 20px;
        margin: 20px;
        /* padding-right:300px ; */
        /* border: red 2px solid; */
    }

    .lates {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* padding-left:150px ; */
        font-size: 18px;

    }

    .serv {
        margin: 30px;
    }
}



.vvm {
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}

.vvm-writeup {
    display: flex;
    justify-content: center;
}

.vvm-writeup>div {
    margin: 20px;
}

.vvm-actual p {
    font-size: 19px;
    max-width: 300px;
    text-align: left;
}

.vvm-h3 {
    font-weight: 1500;
    font-size: large;
}

.vvm-p {
    font-weight: 1000;
    font-size: larger;
    color: rgba(0, 0, 0, 0.774);
}


@media screen and (max-width:991px) {

    .vvm {
        margin-top: 15px;
        padding-bottom: 5px;
    }

    .vvm-writeup {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px;
        margin-top: 5px;
        justify-content: center;
    }

    .vvm-actual {
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: justify;

    }
}


.our-faith {
    text-align: center;
    padding: 10px;
    margin-top: 8rem;
}

.our-letters {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.904);
    margin-bottom: 10px;
}

.our-p {
    font-weight: 1000;
    color: rgba(0, 0, 0, 0.603);
}

.sharing {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;

}

.sharing-writeup {
    /* width: 50%; */
    /* max-width: 400px; */
}

.btn-4 {
    background-color: white;
    border-radius: 3px;
    margin: 30px;
    margin-left: 0px;
    padding: 15px 40px;
    font-weight: 300;
    color: red;
    border: 2px rgb(233, 69, 69) solid;
}

.btn-4:hover {
    background-color: rgb(233, 69, 69);
    color: white;
}

/* .white-church img{
    width: 50%;
} */

@media screen and (max-width:991px) {
    .sharing {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    
}

@media screen and (max-width:430px) {
    
    /* .btn-4{
        margin-right: 15px;
    } */

}

.prayer {
    background-image: url(./img/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: 30px;
    padding-bottom: 30px;

}

.prayer-writeup>p {
    color: white;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    padding: 100px;
    padding-bottom: 30px;
    /* border: 2px solid green; */
    /* display: flex;
    flex-direction: column; */

}

.prayer-writeup {
    max-width: 60rem;
    margin: auto;
}

h5 {
    font-size: 30px;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.btn5,
h4 {
    text-align: center;
}

.btn-5 {
    align-content: center;
    border-radius: 5px;
    margin: 0px;
    padding: 15px;
    font-weight: 300;
    color: white;
    border: 2px white solid;
    background-color: rgba(255, 235, 205, 0);
}

.btn-5:hover {
    color: rgb(233, 69, 69);
    border: 2px rgb(233, 69, 69) solid;
}

@media screen and (max-width:430px){
    .prayer-writeup{
        display: flex;
        flex-direction: column;
        border: solid green 2px;
    }

.prayer-p, p{

    font-weight: ;
}

}


.meet-pastors {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.781);
    margin: 50px;
    padding: 10px;
}

.pastors {
    display: flex;
    justify-content: ;

}

.pastors-div {
    display: flex;
    margin: 0px;
}

.pastors-img>img {
    width: 200px;

}

.pastors-img3 img {
    width: 200px;
}

.pst-h4 {
    color: black;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

/* .container > div{
    margin: 0px;
} */

.child {
    display: flex;
    flex-wrap: wrap;
}

.child>div {
    margin: 20px;
}

.child-p {
    color: rgb(233, 69, 69);
}

@media screen and (max-width:430px) {
    
    .container{
        border: 2px red solid;
        padding-left: 75px;
    }

}

.donate-month {
    text-align: center;
    margin-top: 5rem;
    padding: 50px;

}

.sec-6 {
    /* padding: 2rem; */
    background-color: #eee;
}

.general-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
    /* gap: 30px; */
    /* margin: 80px; */
    padding-bottom: 50px;
    padding-top: 30px;
}

.parent {
    display: flex;
}

.parent>div {
    margin: 10px;
}

/* .parent2{
    display: flex;
} */

/* @media screen and (max-width:991px) {

} */


.donate-i {
    color: gray;
    font-family: sans-serif;
    font-weight: bold;
}

.Student-donate {
    background-color: #fff;
    max-width: 300px;

}

.student-1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 5.4rem;
}

.theme {
    min-width: 200px;
    text-align: justify;
    line-height: 35px;
    padding: 2rem;
}

.theme-p {
    text-align: center;
    width: 200px;
    margin-left: 10px;
}

.little-con {
    text-align: center;
}

.moni {
    color: rgba(128, 0, 0, 0.856);
    text-align: center;
    padding: 20px 18px;
}

.moni>span {
    font-size: 50px;
    text-align: center;
}

.btn-con {
    padding: 38px 18px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-6 {
    padding: 1rem 2.2rem;
    background-color: transparent;
    border: none;
    outline: 2px solid #e0dfdf;
    border-radius: 2px;
    font-weight: bold;
}

.btn-6:hover {
    background-color: maroon;
    color: white;
    outline: 2px solid maroon;
    transition: 0.4s;
}



.student-donate2 {
    background-color: #fff;
    max-width: 300px;
}



.working-people {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 2rem;
    /* border: yellow 2px solid; */

}

.med-donators {
    background-color: #fff;
    max-width: 275px;
    /* margin-top: 10px; */
}

.medium-donators {
    background-color: #cf4a46;
    color: white;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    /* border: yellow 2px solid; */
    /* margin: 10px; */
}

.business-donate {
    background-color: #fff;
    max-width: 275px;
    /* margin-top: 10px; */
}

.Business {
    padding: 2rem;
    background-color: #dd6043;
    color: white;
    text-align: center;

}




/* .general-parent > div{
    margin: 20px;
} */

h1 {
    font-family: 'Poppins', sans-serif;
}

.site {
    background-color: #1b2125;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 70px;
}

.contact-us ul {
    list-style-type: none;
}

.useful ul {
    list-style-type: none;
}

.free-church ul {
    list-style-type: none;
}

@media screen and (max-width:991px) {
    .site {
        padding: 60px;
    }
}

@media screen and (max-width:430px) {
    .site{
        display: flex;
        flex-direction: column;
    }

    .contact-us{
        margin-bottom: 5px;
    }

    .useful{
        margin-top: 5px;
    }
}

.copyr {
    background-color: #171c1f;
    color: white;
    text-align: center;
    padding: 15px;
}

.copy-p {
    color: red;
}